<h3>{{model.name}} </h3>
<p>
  {{#if editing}}
    <button class="button button-dark" {{action "cancelEditing"}}>Cancel</button>
    <button class="button button-primary" {{action "saveEditing"}}>Save</button>
  {{else}}
    <button class="button button-primary" {{action "toggleEditing"}}>Edit</button>
  {{/if}}
</p>
<div>
  <table class="api-widget">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>name</code></td>
        <td>
          {{#if editing}}
            {{input value=model.name required=true}}
          {{else}}
            {{model.name}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>hosts</code><br><em>semi-optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.hosts}}
          {{else}}
            {{model.hosts}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>uris</code><br><em>semi-optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.uris}}
          {{else}}
            {{model.uris}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>methods</code><br><em>semi-optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.methods}}
          {{else}}
            {{model.methods}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>upstream_url</code></td>
        <td>
          {{#if editing}}
            {{input value=model.upstream_url}}
          {{else}}
            {{model.upstream_url}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>strip_uri</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input name="strip_uri" type="checkbox" checked=model.strip_uri}}
          {{else}}
            {{input name="strip_uri" type="checkbox" checked=model.strip_uri disabled=true}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>preserve_host</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input name="preserve_host" type="checkbox" checked=model.preserve_host}}
          {{else}}
            {{input name="preserve_host" type="checkbox" checked=model.preserve_host disabled=true}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>retries</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.retries}}
          {{else}}
            {{model.retries}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>upstream_connect_timeout</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.upstream_connect_timeout}}
          {{else}}
            {{model.upstream_connect_timeout}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>upstream_send_timeout</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.upstream_send_timeout}}
          {{else}}
            {{model.upstream_send_timeout}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>upstream_read_timeout</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input value=model.upstream_read_timeout}}
          {{else}}
            {{model.upstream_read_timeout}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>https_only</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input name="https_only" type="checkbox" checked=model.https_only}}
          {{else}}
            {{input name="https_only" type="checkbox" checked=model.https_only disabled=true}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><code>http_if_terminated</code><br><em>optional</em></td>
        <td>
          {{#if editing}}
            {{input name="http_if_terminated" type="checkbox" checked=model.http_if_terminated}}
          {{else}}
            {{input name="http_if_terminated" type="checkbox" checked=model.http_if_terminated disabled=true}}
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
