{{#if model.not_running}}
  <div>
    <h3>Sorry! Kong does not appear to be running.</h3>
    You may need to restart it by typing <code>kong start</code> in your terminal.
  </div>
{{else}}
  {{#each model as |api|}}
    {{api-widget model=api}}
  {{else}}
  <div>
    <h3>Sorry! There aren't any APIs to show.</h3>
    To get started adding APIs {{link-to "click here to start" "add-api"}}.
  </div>
  {{/each}}
  {{outlet}}
{{/if}}
