<p>Here is some data about your Kong install:</p>

{{model.tagline}} {{model.version}}

<p>You are running lua version: {{model.lua_version}}</p>

<h3>Hostname</h3>
<h4>{{model.hostname}}</h4>

<h3>Timers</h3>
<table>
  <tr>
    <th>Running</th>
    <th>Pending</th>
  </tr>
  <tr>
    <td>{{model.timers.running}}</td>
    <td>{{model.timers.pending}}</td>
  </tr>
</table>

<h3>Configuration</h3>

<table>
  <tr>
    <th>Param</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>nginx_acc_logs</td>
    <td>{{model.configuration.nginx_acc_logs}}</td>
  </tr>
  <tr>
    <td>nginx_kong_conf</td>
    <td>{{model.configuration.nginx_kong_conf}}</td>
  </tr>
  <tr>
    <td>nginx_err_logs</td>
    <td>{{model.configuration.nginx_err_logs}}</td>
  </tr>
  <tr>
    <td>nginx_optimizations</td>
    <td>{{model.configuration.nginx_optimizations}}</td>
  </tr>
  <tr>
    <td>nginx_worker_processes</td>
    <td>{{model.configuration.nginx_worker_processes}}</td>
  </tr>
  <tr>
    <td>nginx_pid</td>
    <td>{{model.configuration.nginx_pid}}</td>
  </tr>
  <tr>
    <td>nginx_daemon</td>
    <td>{{model.configuration.nginx_daemon}}</td>
  </tr>
  <tr>
    <td>nginx_conf</td>
    <td>{{model.configuration.nginx_conf}}</td>
  </tr>
  <tr>
    <td>nginx_admin_acc_logs</td>
    <td>{{model.configuration.nginx_admin_acc_logs}}</td>
  </tr>
  <tr>
    <td>cassandra_lb_policy</td>
    <td>{{model.configuration.cassandra_lb_policy}}</td>
  </tr>
  <tr>
    <td>cassandra_port</td>
    <td>{{model.configuration.cassandra_port}}</td>
  </tr>
  <tr>
    <td>cassandra_repl_factor</td>
    <td>{{model.configuration.cassandra_repl_factor}}</td>
  </tr>
  <tr>
    <td>cassandra_consistency</td>
    <td>{{model.configuration.cassandra_consistency}}</td>
  </tr>
  <tr>
    <td>cassandra_username</td>
    <td>{{model.configuration.cassandra_username}}</td>
  </tr>
  <tr>
    <td>cassandra_repl_strategy</td>
    <td>{{model.configuration.cassandra_repl_strategy}}</td>
  </tr>
  <tr>
    <td>cassandra_ssl</td>
    <td>{{model.configuration.cassandra_ssl}}</td>
  </tr>
  <tr>
    <td>cassandra_keyspace</td>
    <td>{{model.configuration.cassandra_keyspace}}</td>
  </tr>
  <tr colspan=2>
    <td>cassandra_data_centers</td>
  </tr>
  {{#each model.configuration.cassandra_data_centers as |data_center|}}
  <tr colspan=2>
    <td>{{data_center}}</td>
  </tr>
  {{/each}}
  <tr colspan=2>
    <td>cassandra_contact_points</td>
  </tr>
  {{#each model.configuration.cassandra_contact_points as |contact_point|}}
  <tr colspan=2>
    <td>{{contact_point}}</td>
  </tr>
  {{/each}}
  <tr>
    <td>cassandra_timeout</td>
    <td>{{model.configuration.cassandra_timeout}}</td>
  </tr>
  <tr>
    <td>cassandra_ssl_verify</td>
    <td>{{model.configuration.cassandra_ssl_verify}}</td>
  </tr>
  <tr>
    <td>serf_path</td>
    <td>{{model.configuration.serf_path}}</td>
  </tr>
  <tr>
    <td>serf_pid</td>
    <td>{{model.configuration.serf_pid}}</td>
  </tr>
  <tr>
    <td>serf_log</td>
    <td>{{model.configuration.serf_log}}</td>
  </tr>
  <tr>
    <td>serf_node_id</td>
    <td>{{model.configuration.serf_node_id}}</td>
  </tr>
  <tr>
    <td>serf_event</td>
    <td>{{model.configuration.serv_event}}</td>
  </tr>
  <tr>
    <td>ssl_cert</td>
    <td>{{model.configuration.ssl_cert}}</td>
  </tr>
  <tr>
    <td>ssl_cert_default</td>
    <td>{{model.configuration.ssl_cert_default}}</td>
  </tr>
  <tr>
    <td>lua_ssl_verify_depth</td>
    <td>{{model.configuration.lua_ssl_verify_depth}}</td>
  </tr>
  <tr>
    <td>admin_listen_ssl</td>
    <td>{{model.configuration.admin_listen_ssl}}</td>
  </tr>
  <tr>
    <td>admin_ssl_cert</td>
    <td>{{model.configuration.admin_ssl_cert}}</td>
  </tr>
  <tr>
    <td>admin_ssl_cert_key</td>
    <td>{{model.configuration.admin_ssl_cert_key}}</td>
  </tr>
  <tr>
    <td>admin_ssl_cert_key_default</td>
    <td>{{model.configuration.admin_ssl_cert_key_default}}</td>
  </tr>
  <tr>
    <td>admin_ssl_cert_default</td>
    <td>{{model.configuration.admin_ssl_cert_default}}</td>
  </tr>
  <tr>
    <td>admin_listen</td>
    <td>{{model.configuration.admin_listen}}</td>
  </tr>
  <tr>
    <td>cluster_profile</td>
    <td>{{model.configuration.cluster_profile}}</td>
  </tr>
  <tr>
    <td>upstream_keepalive</td>
    <td>{{model.configuration.upstream_keepalive}}</td>
  </tr>
  <tr>
    <td>lua_package_cpath</td>
    <td>{{model.configuration.lua_package_cpath}}</td>
  </tr>
  <tr>
    <td>lua_package_path</td>
    <td>{{model.configuration.lua_package_path}}</td>
  </tr>
  <tr>
    <td>pg_host</td>
    <td>{{model.configuration.pg_host}}</td>
  </tr>
  <tr>
    <td>pg_port</td>
    <td>{{model.configuration.pg_port}}</td>
  </tr>
  <tr>
    <td>pg_user</td>
    <td>{{model.configuration.pg_user}}</td>
  </tr>
  <tr>
    <td>pg_ssl_verify</td>
    <td>{{model.configuration.pg_ssl_verify}}</td>
  </tr>
  <tr>
    <td>pg_database</td>
    <td>{{model.configuration.pg_database}}</td>
  </tr>
  <tr>
    <td>pg_ssl</td>
    <td>{{model.configuration.pg_ssl}}</td>
  </tr>
  <tr>
    <td>cluster_ttl_on_failure</td>
    <td>{{model.configuration.cluster_ttl_on_failure}}</td>
  </tr>
  <tr>
    <td>ssl_cert_key</td>
    <td>{{model.configuration.ssl_cert_key}}</td>
  </tr>
  <tr>
    <td>ssl</td>
    <td>{{model.configuration.ssl}}</td>
  </tr>
  <tr>
    <td>admin_ssl</td>
    <td>{{model.configuration.admin_ssl}}</td>
  </tr>
  <tr>
    <td>ssl_cert_key_default</td>
    <td>{{model.configuration.ssl_cert_key_default}}</td>
  </tr>
  <tr>
    <td>anonymous_reports</td>
    <td>{{model.configuration.anonymous_reports}}</td>
  </tr>
  <tr>
    <td>kong_env</td>
    <td>{{model.configuration.kong_env}}</td>
  </tr>
  <tr>
    <td>log_level</td>
    <td>{{model.configuration.log_level}}</td>
  </tr>
  <tr>
    <td>proxy_ip</td>
    <td>{{model.configuration.proxy_ip}}</td>
  </tr>
  <tr>
    <td>proxy_ssl_port</td>
    <td>{{model.configuration.proxy_ssl_port}}</td>
  </tr>
  <tr>
    <td>proxy_port</td>
    <td>{{model.configuration.proxy_port}}</td>
  </tr>
  <tr>
    <td>proxy_ssl_ip</td>
    <td>{{model.configuration.proxy_ssl_ip}}</td>
  </tr>
  <tr>
    <td>proxy_listen</td>
    <td>{{model.configuration.proxy_listen}}</td>
  </tr>
  <tr>
    <td>proxy_listen_ssl</td>
    <td>{{model.configuration.proxy_listen_ssl}}</td>
  </tr>
  <tr>
    <td>admin_ip</td>
    <td>{{model.configuration.admin_ip}}</td>
  </tr>
  <tr>
    <td>database</td>
    <td>{{model.configuration.database}}</td>
  </tr>
  <tr>
    <td>admin_ssl_port</td>
    <td>{{model.configuration.admin_ssl_port}}</td>
  </tr>
  <tr>
    <td>dns_resolver</td>
    <td>{{model.configuration.dns_resolver}} - TODO </td>
  </tr>
  <tr>
    <td>admin_port</td>
    <td>{{model.configuration.admin_port}}</td>
  </tr>
  <tr>
    <td>cluster_listen</td>
    <td>{{model.configuration.cluster_listen}}</td>
  </tr>
  <tr>
    <td>dns_hostsfile</td>
    <td>{{model.configuration.dns_hostsfile}}</td>
  </tr>
  <tr>
    <td>prefix</td>
    <td>{{model.configuration.prefix}}</td>
  </tr>
  <tr>
    <td>custom_plugins</td>
    <td>{{model.configuration.custom_plugins}} TODO</td>
  </tr>
  <tr>
    <td>lua_socket_pool_size</td>
    <td>{{model.configuration.lua_socket_pool_size}}</td>
  </tr>
  <tr>
    <td>lua_code_cache</td>
    <td>{{model.configuration.lua_code_cache}}</td>
  </tr>
  <tr>
    <td>mem_cache_size</td>
    <td>{{model.configuration.mem_cache_size}}</td>
  </tr>
  <tr>
    <td>ssl_cert_csr_default</td>
    <td>{{model.configuration.ssl_cert_csr_default}}</td>
  </tr>
  <tr>
    <td>admin_ssl_ip</td>
    <td>{{model.configuration.admin_ssl_ip}}</td>
  </tr>
  <tr>
    <td>admin_ssl_cert_csr_default</td>
    <td>{{model.configuration.admin_ssl_cert_csr_default}}</td>
  </tr>
  <tr>
    <td>cluster_listen_rpc</td>
    <td>{{model.configuration.cluster_listen_rpc}}</td>
  </tr>
</table>

<h3>Plugins</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Available</th>
    <th>Enabled</th>
  </tr>
  <tr>
    <td>syslog</td>
    <td>{{model.configuration.plugins.syslog}}</td>
    <td>{{model.plugins.enabled_in_cluster.syslog}}</td>
  </tr>
  <tr>
    <td>ldap-auth</td>
    <td>{{model.configuration.plugins.ldap-auth}}</td>
    <td>{{model.plugins.enabled_in_cluster.ldap-auth}}</td>
  </tr>
  <tr>
    <td>rate-limiting</td>
    <td>{{model.configuration.plugins.rate-limiting}}</td>
    <td>{{model.plugins.enabled_in_cluster.rate-limiting}}</td>
  </tr>
  <tr>
    <td>response-ratelimiting</td>
    <td>{{model.configuration.plugins.response-ratelimiting}}</td>
    <td>{{model.plugins.enabled_in_cluster.response-ratelimiting}}</td>
  </tr>
  <tr>
    <td>request-size-limiting</td>
    <td>{{model.configuration.plugins.request-size-limiting}}</td>
    <td>{{model.plugins.enabled_in_cluster.request-size-limiting}}</td>
  </tr>
  <tr>
    <td>correlation-id</td>
    <td>{{model.configuration.plugins.correlation-id}}</td>
    <td>{{model.plugins.enabled_in_cluster.correlation-id}}</td>
  </tr>
  <tr>
    <td>jwt</td>
    <td>{{model.configuration.plugins.jwt}}</td>
    <td>{{model.plugins.enabled_in_cluster.jwt}}</td>
  </tr>
  <tr>
    <td>runscope</td>
    <td>{{model.configuration.plugins.runscope}}</td>
    <td>{{model.plugins.enabled_in_cluster.runscope}}</td>
  </tr>
  <tr>
    <td>hmac-auth</td>
    <td>{{model.configuration.plugins.hmac-auth}}</td>
    <td>{{model.plugins.enabled_in_cluster.hmac-auth}}</td>
  </tr>
  <tr>
    <td>http-log</td>
    <td>{{model.configuration.plugins.http-log}}</td>
    <td>{{model.plugins.enabled_in_cluster.http-log}}</td>
  </tr>
  <tr>
    <td>tcp-log</td>
    <td>{{model.configuration.plugins.tcp-log}}</td>
    <td>{{model.plugins.enabled_in_cluster.tcp-log}}</td>
  </tr>
  <tr>
    <td>file-log</td>
    <td>{{model.configuration.plugins.file-log}}</td>
    <td>{{model.plugins.enabled_in_cluster.file-log}}</td>
  </tr>
  <tr>
    <td>udp-log</td>
    <td>{{model.configuration.plugins.udp-log}}</td>
    <td>{{model.plugins.enabled_in_cluster.udp-log}}</td>
  </tr>
  <tr>
    <td>loggly</td>
    <td>{{model.configuration.plugins.loggly}}</td>
    <td>{{model.plugins.enabled_in_cluster.loggly}}</td>
  </tr>
  <tr>
    <td>request-transformer</td>
    <td>{{model.configuration.plugins.request-transformer}}</td>
    <td>{{model.plugins.enabled_in_cluster.request-transformer}}</td>
  </tr>
  <tr>
    <td>response-transformer</td>
    <td>{{model.configuration.plugins.response-transformer}}</td>
    <td>{{model.plugins.enabled_in_cluster.response-transformer}}</td>
  </tr>
  <tr>
    <td>statsd</td>
    <td>{{model.configuration.plugins.statsd}}</td>
    <td>{{model.plugins.enabled_in_cluster.statsd}}</td>
  </tr>
  <tr>
    <td>basic-auth</td>
    <td>{{model.configuration.plugins.basic-auth}}</td>
    <td>{{model.plugins.enabled_in_cluster.basic-auth}}</td>
  </tr>
  <tr>
    <td>bot-detection</td>
    <td>{{model.configuration.plugins.bot-detection}}</td>
    <td>{{model.plugins.enabled_in_cluster.bot-detection}}</td>
  </tr>
  <tr>
    <td>galileo</td>
    <td>{{model.configuration.plugins.galileo}}</td>
    <td>{{model.plugins.enabled_in_cluster.galileo}}</td>
  </tr>
  <tr>
    <td>datadog</td>
    <td>{{model.configuration.plugins.datadog}}</td>
    <td>{{model.plugins.enabled_in_cluster.datadog}}</td>
  </tr>
  <tr>
    <td>acl</td>
    <td>{{model.configuration.plugins.acl}}</td>
    <td>{{model.plugins.enabled_in_cluster.acl}}</td>
  </tr>
  <tr>
    <td>ip-restriction</td>
    <td>{{model.configuration.plugins.ip-restriction}}</td>
    <td>{{model.plugins.enabled_in_cluster.ip-restriction}}</td>
  </tr>
  <tr>
    <td>cors</td>
    <td>{{model.configuration.plugins.cors}}</td>
    <td>{{model.plugins.enabled_in_cluster.cors}}</td>
  </tr>
  <tr>
    <td>aws-lambda</td>
    <td>{{model.configuration.plugins.aws-lambda}}</td>
    <td>{{model.plugins.enabled_in_cluster.aws-lambda}}</td>
  </tr>
  <tr>
    <td>oauth2</td>
    <td>{{model.configuration.plugins.oauth2}}</td>
    <td>{{model.plugins.enabled_in_cluster.oauth2}}</td>
  </tr>
  <tr>
    <td>key-auth</td>
    <td>{{model.configuration.plugins.key-auth}}</td>
    <td>{{model.plugins.enabled_in_cluster.key-auth}}</td>
  </tr>
</table>

{{outlet}}
