
<h3>Server Status</h3>
<table>
  <thead>
    <tr>
      <th>param</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>total_requests</td>
      <td>{{model.server.total_requests}}</td>
    </tr>
    <tr>
      <td>connections_handled</td>
      <td>{{model.server.connections_handled}}</td>
    </tr>
    <tr>
      <td>connections_active</td>
      <td>{{model.server.connections_active}}</td>
    </tr>
    <tr>
      <td>connections_accepted</td>
      <td>{{model.server.connections_accepted}}</td>
    </tr>
    <tr>
      <td>connections_reading</td>
      <td>{{model.server.connections_reading}}</td>
    </tr>
    <tr>
      <td>connections_writing</td>
      <td>{{model.server.connections_writing}}</td>
    </tr>
    <tr>
      <td>connections_waiting</td>
      <td>{{model.server.connections_waiting}}</td>
    </tr>
  </tbody>
</table>
<h3>Database Status</h3>
<table>
  <thead>
    <tr>
      <th>Param</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>acls</td>
      <td>{{model.database.acls}}</td>
    </tr>
    <tr>
      <td>apis</td>
      <td>{{model.database.apis}}</td>
    </tr>
    <tr>
      <td>basicauth_credentials</td>
      <td>{{model.database.basicauth_credentials}}</td>
    </tr>
    <tr>
      <td>oauth2_credentials</td>
      <td>{{model.database.oauth2_credentials}}</td>
    </tr>
    <tr>
      <td>keyauth_credentials</td>
      <td>{{model.database.keyauth_credentials}}</td>
    </tr>
    <tr>
      <td>hmacauth_credentials</td>
      <td>{{model.database.hmacauth_credentials}}</td>
    </tr>
    <tr>
      <td>consumers</td>
      <td>{{model.database.consumers}}</td>
    </tr>
    <tr>
      <td>jwt_secrets</td>
      <td>{{model.database.jwt_secrets}}</td>
    </tr>
    <tr>
      <td>plugins</td>
      <td>{{model.database.plugins}}</td>
    </tr>
    <tr>
      <td>oauth2_authorization_codes</td>
      <td>{{model.database.oauth2_authorization_codes}}</td>
    </tr>
    <tr>
      <td>ssl_servers_names</td>
      <td>{{model.database.ssl_servers_names}}</td>
    </tr>
    <tr>
      <td>oauth2_tokens</td>
      <td>{{model.database.oauth2_tokens}}</td>
    </tr>
    <tr>
      <td>targets</td>
      <td>{{model.database.targets}}</td>
    </tr>
    <tr>
      <td>nodes</td>
      <td>{{model.database.nodes}}</td>
    </tr>
    <tr>
      <td>upstreams</td>
      <td>{{model.database.upstreams}}</td>
    </tr>
    <tr>
      <td>ssl_certificates</td>
      <td>{{model.database.ssl_certificates}}</td>
    </tr>
  </tbody>
</table>
{{outlet}}
